/*  your css code here. If applicable */
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
      text-align: left;
    }
    .middle {
      margin: 0 auto;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }